@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply text-[17px]
  sm:text-[19px] 
  md:text-[22px];
	background: linear-gradient(
		45deg,
		rgb(19, 19, 19) 38%,
		rgba(254, 87, 2, 1) 100%
	);
	background-attachment: fixed;
	background-size: cover;
}

.flex-center {
	@apply flex
  justify-center
  items-center;
}

@media (min-width: 768px) {
	::-webkit-scrollbar {
		width: 15px;
		background-color: #111;
	}
	::-webkit-scrollbar-thumb {
		@apply bg-primary;
		border-radius: 10px;
		border: 3.5px solid #111;
	}
	::-webkit-scrollbar-thumb:hover {
		@apply bg-white;
	}
	::-webkit-scrollbar-button {
		height: 5px;
	}
}
